.cursor {

    .cursor--small,
    .cursor--large,
    .cursor--text {
        position: fixed;
        left: 50%;
        top: 10;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: var(--cursor-size);
        height: var(--cursor-size);
        mix-blend-mode: difference;
        pointer-events: none;
        user-select: none;
    }

    .cursor--text {
        --cursor-size: fit-content;
        font-size: 0.75rem;
        color: #CCD6F6;
        opacity: 0;

        .text {
            font-family: sans-serif;
            font-weight: bold;
        }
    }

    .cursor--small {
        --cursor-size: 20px;
        background: #CCD6F6;
    }

    .cursor--large {
        --cursor-size: 60px;
        border: 2px solid#CCD6F6;
    }
}